@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fbe7;
  --foreground: #2e3a25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1f3a;
    --foreground: #eaeaea;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
