.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.loginCard {
  width: 100%;
  max-width: 400px;
  padding: 24px;
}

.title {
  text-align: center;
  margin-bottom: 32px !important;
} 